.outer-box{
display:flex;
flex-direction: row;
margin:20px;
padding:10px;


}
a{
    text-decoration: none;
    color:black;
}
li{
    display:inline;
    font-size: large;
    padding-left:100px;
    padding-right:100px;
    margin-left: 100px;
    margin-right: 100px;
    font-size:22px;
    font-family:"Karma", sans-serif;
}
ul > li{
    margin-right:50px;
    margin-left: 0px;
    
}
.cen{
    margin-left:210px;
}
.right{
    margin-left:220px;
    margin-right:0px;
}
ul{
    position:fixed;
    padding-top: 25px;
    padding-bottom: 25px;
    top:0px;
    left:0px;
    width:1450px;
    background-color: white;
    margin:0px;
    padding-right:20px;
    text-align: center;
    
    
}
body >div{
    padding:10%;
    padding:0px;
    margin:140px;
}
.inner-box{
    float:left;
    width:24%;
    padding:10px;
    
    
}
.inner-box p{
    text-align:center;
    
}
.inner-box h3{
    text-align:center;
    
} 
.inner-box img{
    width:100%;
    
}

.switchpages p:hover {
    background-color:black;
    color:white;
  }
.switchpages{
    display:flex;
    margin-left:490px;
    margin-top:25px;
    margin-bottom:25px;
}
.switchpages p{
    color:black;
    background-color: white;
    padding:15px;
    cursor:pointer;

}
.chef h3{
    text-align:center;
}
.chef p{
    text-align:center;
}
.chef img{
   padding-left:200px;
}
.chef h2{
    text-align:center;
}
.container{
    display:flex;
flex-direction: row;
margin-top:0px;
}
.foot{
    float:left;
    width:33.33%;
    margin:10px;

}
.blog{
    display:flex;
    flex-direction: column;
    width:33.33%;
    margin-top:10px;
}
.blog hr{
    color:black;
    width:100%;
}
.blog div
{
display:flex;
margin:10px;
}
.blog div p{
    margin-left:20px;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top:10px;
}
.tags{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:33.33%;
}
.tags > div{
    display:flex;
    flex-wrap: wrap;

}
.tags div div p{
    color:white;
    background-color:grey;
    cursor:pointer;
    padding:0px 4px;
    margin:8px 5px;
    height:20px;
    font-size:15px;
    text-align:center;
    
    
}
.tags div div p:hover {
    background-color:black;
    color:white;
  }
